<form
  [formGroup]="form()"
  (ngSubmit)="onSubmit()"
  class="p-4 flex flex-column gap-4"
>
  @for (field of config().fieldsConfig; track field.name) {
  <div class="flex flex-column gap-2 w-full">
    <label>{{ field.name }}</label>

    @switch(field.type) { @case('text') {
    <input
      pInputText
      [formControlName]="field.name"
      [placeholder]="field.placeholder"
      class="w-full"
    />
    } @case('number') {
    <p-inputNumber
      [formControlName]="field.name"
      [min]="field.min"
      [max]="field.max"
      inputStyleClass="w-full"
    ></p-inputNumber>
    } @case('multiselect') {
    <p-multiSelect
      [options]="field.options"
      optionLabel="value"
      placeholder="Select Cities"
      [maxSelectedLabels]="3"
      styleClass="w-full"
    ></p-multiSelect>
    } @case('date') {
    <p-calendar
      [formControlName]="field.name"
      dateFormat="yy-mm-dd"
      styleClass="w-full"
    ></p-calendar>
    } }

    <div
      *ngIf="getControl(field.name)?.touched && getControl(field.name)?.invalid"
      class="text-red-600 text-sm"
    >
      <small *ngIf="form().get(field.name)?.errors?.['required']"
        >{{ field.name }} is required</small
      >
      <small *ngIf="form().get(field.name)?.errors?.['min']"
        >Value is too low</small
      >
      <small *ngIf="form().get(field.name)?.errors?.['max']"
        >Value is too high</small
      >
    </div>
  </div>
  }

  <div class="flex justify-content-end">
    <p-button
      type="submit"
      [label]="config().buttonName"
      [disabled]="!isValid()"
    ></p-button>
  </div>
</form>
